<div class="container">
    <div class="m-3">
        <div class="card">
            <div class="card-header">
                <div class="m-2">
                    <div class="d-flex justify-content-end">
                        <td>
                            <button data-bs-toggle="modal" data-bs-target="#addLanguageModal"
                                class="btn btn-warning"><fa-icon [icon]="faAdd"></fa-icon>
                            </button>
                        </td>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th scope="col">Sl No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let language of languageList">
                        <th>1</th>
                        <td>{{language.languageName}}</td>
                        <td>

                            <button (click)="loadUpdateData(language.languageId!)" class="btn btn-success m-1"><fa-icon
                                    [icon]="faEdit"></fa-icon></button>
                            <button (click)="onDeleteButtonClick(language.languageId!)" class="btn btn-danger"><fa-icon
                                    [icon]="faDelete"></fa-icon></button>

                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



<!--add Modal -->
<div class="modal fade" id="addLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Language</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="languageName" class="form-label">Language Name</label>
                    <input type="text" [(ngModel)]="languageToAdd.languageName" class="form-control" name="languageName"
                        id="languageName">

                </div>

                <button type="buton" (click)="addLanguge()" class="btn btn-primary">Add</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="addLanguge()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




<!--update Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayUpdateModal}" [ngStyle]="{'overflow': hidden}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Language</h4>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="languageName" class="form-label">Language</label>
                    <input type="text" [(ngModel)]="languageToUpdate.languageName" class="form-control" name="languageName"
                        id="languageName">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="updateLanguage()">Update Language</button>
                <button type="button" class="btn btn-default" (click)="closeUpdateModal()">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- delete modal -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':deleteModal}" [ngStyle]="{'overflow': hidden}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Language</h4>
            </div>
            <div class="modal-body">
                <p>Want To Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="deleteLanguage()">Delete</button>
                <button type="button" class="btn btn-default" (click)="closeDeleteModal()">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- test model -->

<!-- <button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" [ngStyle]="{'overflow': hidden}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Language</h4>
            </div>
            <div class="modal-body">
                <p>Model body text</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div> -->