<div class="container">

    <div class="row">
        <div class="col-5">
            <div class="mb-3">
                <label name="email" for="exampleInputEmail1" class="form-label">Email address</label>
                <input [(ngModel)]="userEmail" type="email" class="form-control" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" [(ngModel)]="userPassword" type="password" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">User name</label>
                <input name="userName" [(ngModel)]="userName" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">

            <button (click)="signIn()" class="btn btn-primary">Sign In</button>
        </div>
    </div>

    <div *ngIf="loading">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

</div>

